.jumbotron{
    width: 330px;
    padding:20px;
    height:500px;
    background-color: #e5e1e1;
    border-radius:10px 10px 10px 10px;
    margin-top:300px;
    margin-right:200px;
    float:right;

}
.h4{
    font-family:"黑体";
    color:#1a72b8;
    text-align:center;
}
.mb-3{font-family:"黑体";
    color:#1a72b8;}
.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin:0 auto;
}
.form-login .form-control:focus {
    z-index: 2;
}
.btn{
    font-family:"黑体";
    color:white;
    margin-left:40px;
    background-color:#1a72b8;
    width:250px;
    font-size:20px;
}